@charset 'utf-8';

*{
    margin: 0;
    padding: 0;
    cursor: default;
}

body{
    font-size: 16px;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

/* 全体のボックス */
.wrapper{
    display: flex;
}

/* サイドメニュー */
.side-menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    width: 20vw;
    height: 100vh;
    background-color: #d0b98d;
}

.side-menu h1{
    margin-top: 3rem;
}

.side-menu ul{
    width: 70%;
    margin-top: auto;
    margin-bottom: 4rem;
}
.side-menu li{
    display: table;
    width: 100%;
    height: 3.5rem;
    text-align: center;
}
.side-menu li:not(:last-child){
    border-bottom: 1px solid black;
}

.side-menu a{
    display: table-cell;
    width: 100%;
    height: 100%;
    color: #000;
    vertical-align: middle;
    cursor: pointer;
}
.side-menu a:hover{
    background-color: aliceblue;
}

/* メインパート */
.main-part{
    width: calc(100% - 20vw);
    margin-left: auto;
}

/* トップページ */
#home{
    list-style: none;
}

/* 背景 固定 */
.fixed-bg{
    min-height: 100vh;
    background-attachment: fixed;
    background-size: cover;
}

#top{
    background-image: url(../image/boke12151229_TP_V.jpg);
}

/* コンテンツ */
.contents{
    display: flex;
    height: 350px;
}

#c1{
    background-color: #d6d680;
}
#c2{
    background-color: #afd0ef;
}

/* 作品の説明 */
.description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    height: 100%;
    padding-left: 2rem;
}
.description h2{
    font-size: 2rem;
}
.description ul{
    display: flex;
    justify-content: flex-end;
    padding-right: 2rem;
    margin-bottom: .75rem;
}
.description li{
    display: inline-block;
    font-size: .7rem;
    border: 1px solid black;
    border-radius: 1rem;
    padding: .2rem .3rem;
    margin-left: .25rem;
}
.description p{
    margin-bottom: 1.5rem;
}

.description .btn{
    width: 5rem;
    height: 3rem;
    text-align: center;
    border: 2px solid #77aad7;
    box-sizing: border-box;
}
.description .btn a{
    display: block;
    width: 100%;
    height: 100%;
    line-height: 3rem;
    color: #77aad7;
    font-weight: bold;
    cursor: pointer;
}
.description .btn a:hover{
    color: #fff;
    background-color: #77aad7;
}

#lH{
    color: #000;
}
#lC{
    color: #000;
}
#lJ{
    color: #000;
}

/* 作品の写真 */
.image{
    width: 40%;
    height: 100%;
    background-size: cover;
    border: 1px solid black;
    box-sizing: border-box;
}
#todo{
    background-image: url(../image/todo.png);
}
#calculator{
    background-image: url(../image/calculator.png);
}

/* プロフィールページ */
#profile{
    width: inherit;
}

.none{
    display: none;
}
